<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/all.css">
    <link rel="stylesheet" href="/estilo.css">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <title>Saldo</title>

</head>

<body>
    <nav class="navbar navbar-dark bg-dark">

        <button onClick="history.back()">
            Regresar
        </button>

        <h1>
            Monro
        </h1>
        
        <ul class="nav nav-tabs">

            <li class="nav-item">
                <a class="nav-link" href="/menu"> Inicio </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/saldo"> Saldo </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cheque"> Crear cheque </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/aprobar"> Aprobar cheque </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/registrar"> Registrar usuario </a>
            </li>

        </ul>

    </nav>

    <section class="movimientos">

        <form action="/saldo" method="POST">
            <button class="btn btn-primary btn-block" type="submit">
                Ver movimientos
            </button>
        </form>
        
        <table class="container">
            <tr>
                <th class="fechacol">
                    Fecha
                </th>
                <th>
                    Debe
                </th>
                <th>
                    Haber
                </th>
            </tr>
        </table> 

        {{#each saldos}}

            <table class="container">
                <tr>
                    <th class="fechacol">
                        {{date}}
                    </th>
                    <th>
                        +{{acreditado}}
                    </th>
                    <th>
                        -{{debitado}}
                    </th>
                </tr>
            </table>

        {{/each}}

    </section>

</body>

</html>